h1{
    font-size: 40px;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0d6dfd;
    margin-top: 120px;
}

b{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}